# Missing Data
### : methods to treat the missing data

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

>`df.dropna()` : drop any row that has nan value. You could do it with columns by setting axis=1

In [5]:
df.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [6]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

>`df.dropna(thresh=2)` :  delete that row when there are more than two nan values

In [7]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

>`df.fillna(value="FILL VALUE")` : fill the nan value with the 'value'

In [10]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64